#current-word {
    display: flex;
    align-items: center;
    flex-direction: columns;
}

#previous-word {
    display: flex;
    align-items: center;
    flex-direction: columns;
}

.letter-box {
    border: 2px solid black;
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.current-letter {
    border: 2px solid grey;
}

.green-letter {
    border: 2px solid;
    background-color: green;
}

.yellow-letter {
    border: 2px solid ;
    background-color: yellow;
}

#keyboard-cont {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#keyboard-cont div {
    display: flex;
}

.second-row {
    margin: 0.5rem 0;
}

.keyboard-button {
    font-size: 3vw;
    font-weight: 700;
    padding: 1vw;
    margin 0 4vw;
    cursor: pointer;
    text-transform: uppercase;
}

h1 {
    text-align: center;
}
